<!-- <p>
  <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
    Do it!
  </button>
</p> -->

<div (click)="openModal()" class="btn btn-success">Modal Component</div>


<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>{{bodyText}}</p>
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
    <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
</div>

<app-modals id="custom-modal-1">
    <div  class="modal" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal('custom-modal-1');">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="closeModal('custom-modal-1');" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
              </div>
            </div>
          </div>
    </div>
     
        <div class="modal-background"></div>

</app-modals>

<app-modals id="custom-modal-2">
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal('custom-modal-2');">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
               Yes I DO
              </div>
              <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="closeModal('custom-modal-2');" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
              </div>
            </div>
          </div>
    </div>
     
        <div class="modal-background"></div>
</app-modals>

<div class="container">
  <div class="row">
          <div class="col-3 float-lg-right" *ngFor="let user of users ; index as i" >
            <div class="card card-body mt-2">
                <img src="https://fakeimg.pl/350x200/?text=World&font=lobster">
                <div class="card-body">

                       
                      <h4 class="card-text">Name :  {{user.name}}</h4>
                      <p class="card-text">Email : {{user.email}}</p>
                      <p class="card-text">Username : {{user.username}}</p>
                      <p class="card-text">Address : {{user.address.city}} - {{user.address.street}} - {{user.address.suite}} - Zip : {{user.address.zipcode}}</p>
                    
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          {{user.name}}
                        </button>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          
                          <p class="card-text">Email : {{user.email}}</p>
                          <p class="card-text">Username : {{user.username}}</p>
                          <p class="card-text">Address : {{user.address.city}} - {{user.address.street}} - {{user.address.suite}} - Zip : {{user.address.zipcode}}</p>
                      
                        </div>
                      </div>

                    
                    </div>
                    
                 
                 
                  
                </div>
            </div>
           
          </div>
      
 

  <!-- (ngSubmit)="updateUser(1)" -->
 <form class="form-inline" #f="ngForm" id="userForm">
    <div class="form-group">
      <label for="name"></label>
      <input type="text" #n="ngModel" [(ngModel)]="user.name" name="name" id="name" class="form-control" placeholder="name" aria-describedby="name">
      <small id="name" class="text-muted">{{user.name}}</small>
    </div>
    <div class="form-group">
      <label for="username"></label>
      <input type="text" #u="ngModel" [(ngModel)]="user.username" name="username" id="username" class="form-control" placeholder="username" aria-describedby="username">
      <small id="username" class="text-muted">{{user.username}}</small>
    </div>
    <div class="form-group">
      <label for="email"></label>
      <input type="text" #e="ngModel" [(ngModel)]="user.email" name="email" id="email" class="form-control" placeholder="email" aria-describedby="email">
      <small id="email" class="text-muted">{{user.email}}</small>
    </div>
    <div class="form-group">
      <label for="street"></label>
      <input type="text" #s="ngModel" [(ngModel)]="user.address.street" name="street" id="street" class="form-control" placeholder="street" aria-describedby="street">
      <small id="street" class="text-muted">{{user.address.street}}</small>
    </div>
  </form>

  <button type="button" form="userForm" (click)="updateUser(user.id)" class="btn btn-primary">Save</button> 

<!-- 
  <div class="form-group">
    <label for="username">UserName</label>
    <input type="text"
      class="form-control"
      name="username" 
      id="username" 
      aria-describedby="usernameId" 
      placeholder="Enter user name"
      #u="ngModel"
      [(ngModel)]="username"
      autocomplete="off"
    >
    <small id="usernameId" 
      class="form-text text-muted"
    >
    you entered : {{u.value}}
    </small>
    <button type="button" class="btn btn-primary" (click)="updateUser(u.value)">Save</button>
  </div> -->

</div>
